/* @import url('./styles/variables.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-main: #0a0a0a;
  --color-hover-text: rgb(170, 165, 165);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset !important; 
  -webkit-text-fill-color: #fff !important; 
  caret-color: #fff !important;             
  border-radius: 4px !important;                      
}

input:autofill,
textarea:autofill,
select:autofill {
  box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
  -moz-text-fill-color: #fff !important;
  caret-color: #fff !important;
  border-radius: 4px !important; 
}

html,
body {
  overflow-x: hidden;
}


body {
  min-width: 100vw;
  background-color: var(--color-main);
  place-items: center;
  color: #fff;
  position: relative;
}

div[id=root] {
  width: 100%;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-hover-text);
}


.container {
  margin: 0 auto;
  width: 85%;
  position: relative;
}

@media (max-width: 664px) {
  .container {
    width: 91.4%;
  }

}